{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'zmz-collection-list.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}

    #FeaturedCollectionList-{{ section.id }} {
    --collection-card-image-padding: {{ section.settings.collection_card_image_padding | divided_by: 10.0 }}rem;
    --collection-card-corner-radius: {{ section.settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
    --collection-card-border-width: {{ section.settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
    --collection-card-border-opacity: {{ section.settings.collection_card_border_opacity | divided_by: 100.0 }};
    --collection-card-shadow-opacity: {{ section.settings.collection_card_shadow_opacity | divided_by: 100.0 }};
    --collection-card-shadow-visible: {% if section.settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
    --collection-card-shadow-horizontal-offset: {{ section.settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
    --collection-card-shadow-vertical-offset: {{ section.settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
    --collection-card-shadow-blur-radius: {{ section.settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;
  }

  
   #FeaturedCollectionList-{{ section.id }} .card--card, 
   #FeaturedCollectionList-{{ section.id }} .card--standard .card__inner {
     border: var(--border-width) solid rgba({{ section.settings.border_color.red }}, {{ section.settings.border_color.green }}, {{ section.settings.border_color.blue }},var(--border-opacity)); 
    }
 
    #FeaturedCollectionList-{{ section.id }}  {
    --grid-desktop-horizontal-spacing: {{ section.settings.spacing_grid_horizontal }}px;
    }

    {% if section.settings.use_section_width %}
        #FeaturedCollectionList-{{ section.id }} {
        --page-width: {{ section.settings.page_width | divided_by: 10 }}rem;
        }
    {% endif %}

    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }

    {%- for block in section.blocks -%}
        #FeaturedCollectionList-{{ section.id }} .button--collection{
        background: {{ section.settings.btn_bg_color }};
        color:{{ section.settings.btn_text_color }};
        }

        #FeaturedCollectionList-{{ section.id }} .button--collection:hover{
        background: {{ section.settings.btn_bg_color_hover }};
        color:{{ section.settings.btn_text_color_hover }};
        }

    {%- endfor -%}

    @media screen and (max-width: 749px){
    #FeaturedCollectionList-{{ section.id }} .sliderMobileHide .slider-buttons{
    display: none;
    }
    }
{%- endstyle -%}


{%- liquid
    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
        assign show_mobile_slider = true
    endif

    assign columns_desktop_int = section.settings.columns_desktop | plus: 0
    assign show_desktop_slider = false
    if section.settings.enable_desktop_slider and section.blocks.size > columns_desktop_int
        assign show_desktop_slider = true
    endif
-%}

<div id="FeaturedCollectionList-{{ section.id }}" class="color-{{ section.settings.color_scheme }} gradient">
    <div class="collection-list-wrapper page-width isolate{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %} section-{{ section.id }}-padding">
        {%- unless section.settings.title == blank -%}
            <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
                <h2 id="SectionHeading-{{ section.id }}" class="collection-list-title {{ section.settings.heading_size }}">
                    {{ section.settings.title | escape }}
                </h2>

                {%- if section.settings.show_view_all and show_mobile_slider -%}
                    <a
                            href="{{ routes.collections_url }}"
                            id="ViewAll-{{ section.id }}"
                            class="link underlined-link large-up-hide"
                            aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
                    >
                        {{- 'sections.collection_list.view_all' | t -}}
                    </a>
                {%- endif -%}  
            </div>
        {%- endunless -%}

        <slider-component class="slider-mobile-gutter slider-component-full-width {% if show_desktop_slider %} slider-component-desktop{% endif %}{% if show_desktop_slider == false %} sliderDesktopHide{% endif %} {% if show_mobile_slider == false %} sliderMobileHide{% endif %}">
            <ul
              class="collection-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} collection-list--{{ section.blocks.size }}-items{% if show_desktop_slider %} slider slider--desktop grid--peek{% endif %}"
              data-slider-per-mobile="{{ section.settings.columns_mobile }}"
              data-slider-per-desktop="{{ section.settings.columns_desktop }}"
              data-zmz-type="slider" 
              id="Slider-{{ section.id }}"
              role="list"
            >

                {%- liquid
                    assign columns = section.blocks.size
                    if show_desktop_slider == false
                        if columns > 3
                            assign columns = 3
                        endif
                    endif
                -%}

                {%- for block in section.blocks -%}
                    <li
                            id="Slide-{{ section.id }}-{{ forloop.index }}"
                            class="collection-list__item item-{{ section.id }}-{{ block.id }} grid__item{% if show_mobile_slider %} slider__slide{% endif %}{% if block.settings.collection.featured_image == nil %} collection-list__item--no-media{% endif %}"
                            {{ block.shopify_attributes }}
                    >
                        {% render 'card-collection',
                                card_collection: block.settings.collection,
                                media_aspect_ratio: section.settings.image_ratio,
                                section: section,
                                card_color_scheme_section: section.settings.collection_card_color_scheme,
                                collection_card_style_section: section.settings.collection_card_style,
                                columns: columns
                        %}
                    </li>
                {%- endfor -%}
            </ul>
            <div class="slider-buttons mt-3 no-js-hidden medium-hide">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                    {% if section.settings.nav_style_type == 'type_1' %}
                        {%- render 'icon-list', icon: "caret-left" -%}
                    {% else %}
                        {%- render 'icon-list', icon: "left-style-2" -%}
                    {% endif %}
                </button>
                {% unless section.settings.off_carousel_counter %}
                    <div class="slider-counter caption ">
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ section.blocks.size }}</span>
                    </div>
                {% endunless %}
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                    {% if section.settings.nav_style_type == 'type_1' %}
                        {%- render 'icon-list', icon: "caret-right" -%}
                    {% else %}
                        {%- render 'icon-list', icon: "right-style-2" -%}
                    {% endif %}

                </button>
            </div>
        </slider-component>

        {%- if section.settings.show_view_all and section.blocks.size < collections.size -%}
            <div class="center collection-list-view-all{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
                <a
                        href="{{ routes.collections_url }}"
                        class="button"
                        id="ViewAllButton-{{ section.id }}"
                        aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}"
                >
                    {{- 'sections.collection_list.view_all' | t -}}
                </a>
            </div>
        {%- endif -%}
    </div>
</div>

{% schema %}
{
  "name": "t:sections.zmz-collection-list.name",
  "tag": "section",
  "class": "section zmz-collection-list zmz-slider zmz-slider--modify",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "page_width",
      "min": 1000,
      "max": 1920,
      "step": 10,
      "default": 1200,
      "unit": "px",
      "label": "t:settings_schema.layout.settings.page_width.label"
    },

    {
      "type": "checkbox",
      "id": "use_section_width",
      "label": "t:sections.zmz-collection-list.settings.use_section_width.label",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },

    {
      "type": "range",
      "id": "spacing_grid_horizontal",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 15,
      "unit": "px",
      "label": "t:sections.banners.settings.spacing_grid_horizontal.label"
    },

    {
      "type": "select",
      "id": "nav_style_type",
      "label": "t:sections.zmz-testimonials.settings.nav_style_type.label",
      "default": "type_1",
      "options": [
        {
          "value": "type_1",
          "label": "Type #1"
        },
        {
          "value": "type_2",
          "label": "Type #2"
        }
      ]
    },

    {
      "type": "checkbox",
      "id": "off_carousel_counter",
      "label": "t:sections.zmz-testimonials.settings.off_carousel_counter.label",
      "default":  false
    },
     {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "contentHorizontal",
      "label": "t:sections.banners.blocks.column.settings.contentHorizontal.label",
      "default": "center",
      "options": [
        {
          "label": "t:sections.banners.blocks.column.settings.contentHorizontal.options__1.label",
          "value": "flex-start"
        },
        {
          "label": "t:sections.banners.blocks.column.settings.contentHorizontal.options__2.label",
          "value": "center"
        },
        {
          "label": "t:sections.banners.blocks.column.settings.contentHorizontal.options__3.label",
          "value": "flex-end"
        }
      ]
    },
    {
      "type": "select",
      "id": "banner_style",
      "label": "t:sections.banners.blocks.column.settings.banner_style.label",
      "default": "standard",
      "options": [
        {
          "label": "t:sections.banners.blocks.column.settings.banner_style.options__1.label",
          "value": "standard"
        },
        {
          "label": "t:sections.banners.blocks.column.settings.banner_style.options__2.label",
          "value": "overlay"
        }
      ]
    },
    {
      "type": "select",
      "id": "v_cpos",
      "label": "t:sections.banners.blocks.column.settings.v_cpos.label",
      "default": "flex-start",
      "info": "t:sections.banners.blocks.column.settings.v_cpos.info",
      "options": [
        {
          "label": "t:sections.banners.blocks.column.settings.v_cpos.options__1.label",
          "value": "flex-start"
        },
        {
          "label": "t:sections.banners.blocks.column.settings.v_cpos.options__2.label",
          "value": "center"
        },
        {
          "label": "t:sections.banners.blocks.column.settings.v_cpos.options__3.label",
          "value": "flex-end"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "useButton",
      "label": "t:sections.banners.blocks.column.settings.useButton.label",
      "default": false
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "t:sections.banners.blocks.column.settings.btn_bg_color.label",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "btn_border_color",
      "label": "t:sections.banners.blocks.column.settings.btn_border_color.label",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "t:sections.banners.blocks.column.settings.btn_text_color.label",
      "default": "#ffffff"
    },
    {
      "type": "paragraph",
      "content": "t:sections.banners.blocks.column.settings.paragraph.content_3"
    },
    {
      "type": "color",
      "id": "btn_bg_color_hover",
      "label": "t:sections.banners.blocks.column.settings.btn_bg_color_hover.label",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "btn_border_color_hover",
      "label": "t:sections.banners.blocks.column.settings.btn_border_color_hover.label",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "btn_text_color_hover",
      "label": "t:sections.banners.blocks.column.settings.btn_text_color_hover.label",
      "default": "#ffffff"
    },

    {
      "type": "checkbox",
      "id": "buttom_full_width",
      "label": "t:sections.zmz-collection-list.settings.buttom_full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.zmz-collection-list.content_2"
    },
    {
      "type": "select",
      "id": "collection_card_style",
      "options": [
        {
          "value": "standard",
          "label": "t:settings_schema.collection_cards.settings.style.options__1.label"
        },
        {
          "value": "card",
          "label": "t:settings_schema.collection_cards.settings.style.options__2.label"
        }
      ],
      "default": "standard",
      "label": "t:settings_schema.collection_cards.settings.style.label"
    },
    {
      "type": "range",
      "id": "collection_card_image_padding",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.global.settings.image_padding.label",
      "default": 0
    },
     {
      "type": "color_scheme",
      "id": "collection_card_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.header__border.content"
    },
    {
      "type": "range",
      "id": "collection_card_border_thickness",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.thickness.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_card_border_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.opacity.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_card_corner_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.global.settings.corner_radius.label",
      "default": 0
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:sections.zmz-collection-list.blocks.settings.border_color.label"
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.header__shadow.content"
    },
    {
      "type": "range",
      "id": "collection_card_shadow_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.opacity.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "collection_card_shadow_horizontal_offset",
      "min": -40,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.global.settings.horizontal_offset.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_card_shadow_vertical_offset",
      "min": -40,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.global.settings.vertical_offset.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "collection_card_shadow_blur",
      "min": 0,
      "max": 40,
      "step": 5,
      "unit": "px",
      "label": "t:settings_schema.global.settings.blur.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-list.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.collection-list.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.zmz-collection-list.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}