{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}
 {% if post_layout == 'grid' %}
    {% assign wordCount = 13 | times: 1 %}
 {% else %}
    {% assign wordCount = 22 | times: 1 %}
 {% endif %}
                    
{%- if article and article != empty -%}
    {%- liquid
        assign ratio = 1
        if media_aspect_ratio != null
            assign ratio = media_aspect_ratio
        endif
    -%}
    <div class="article-card-wrapper card-wrapper underline-links-hover">
        {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
        <div
                class="
        card article-card
        card--{{ settings.blog_card_style }}
        {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
        {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
        {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
        {% if settings.blog_card_style == 'card' and media_height == nil and article.image == empty or show_image == false %} ratio{% endif %}
      "
                style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
        >
            <div
                    class="card__inner {% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}{% if article.image and show_image or settings.blog_card_style == 'standard' %} ratio{% endif %}"
                    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
            >
                {%- if show_image == true and article.image -%}
                    <div class="article-card__image-wrapper card__media">
                        <div
                                class="article-card__image media media--hover-effect"
                                {% if section.settings.media_height == 'adapt' %}
                                    style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
                                {% endif %}
                        >
                            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                            <img
                                    srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                                    src="{{ article.image.src | image_url: width: 533 }}"
                                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                    alt="{{ article.image.src.alt | escape }}"
                                    class="motion-reduce"
                                    {% unless lazy_load == false %}
                                        loading="lazy"
                                    {% endunless %}
                                    width="{{ article.image.width }}"
                                    height="{{ article.image.height }}"
                            >
                            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                        </div>
                    </div>
                {%- endif -%}
                <div class="card__content">
                    <div class="card__information">
                        {%- if article.tags != blank and section.settings.blog_show_tags -%}
                            <div class="blog-article-tag-listWrapper">
                                {%- for tag in article.tags limit: 3 -%}

                                    <a class="blog-article-tag-list" href="{{ blog.url }}/tagged/{{ tag | handle }}">
                                        {% if forloop.first == false %}<span class="divider">&#124;</span>{% endif %}
                                        {{ tag }}
                                    </a>
                                {%- endfor -%}
                            </div>

                        {%- endif -%}
                        <h4 class="card__heading{% if show_excerpt %} h4{% endif %}">
                            <a href="{{ article.url }}" class="full-unstyled-link">
                                {{ article.title | truncate: 50 | escape }}
                            </a>
                            </h3>
                            <div class="article-card__info caption-with-letter-spacing h5">
                                {%- if show_author -%}
                                <span class="d-inline-flex align-items-center article-card-wrap">
                                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 6.375C4.415 6.375 3.125 5.085 3.125 3.5C3.125 1.915 4.415 0.625 6 0.625C7.585 0.625 8.875 1.915 8.875 3.5C8.875 5.085 7.585 6.375 6 6.375ZM6 1.375C4.83 1.375 3.875 2.33 3.875 3.5C3.875 4.67 4.83 5.625 6 5.625C7.17 5.625 8.125 4.67 8.125 3.5C8.125 2.33 7.17 1.375 6 1.375Z" fill="#222222"/>
                                            <path d="M10.2951 11.375C10.0901 11.375 9.92007 11.205 9.92007 11C9.92007 9.275 8.16008 7.875 6.00008 7.875C3.84008 7.875 2.08008 9.275 2.08008 11C2.08008 11.205 1.91008 11.375 1.70508 11.375C1.50008 11.375 1.33008 11.205 1.33008 11C1.33008 8.865 3.42508 7.125 6.00008 7.125C8.57508 7.125 10.6701 8.865 10.6701 11C10.6701 11.205 10.5001 11.375 10.2951 11.375Z" fill="#222222"/>
                                            </svg>
                                            <span class="d-inline-block mx-1">by</span><span class="article-card__info--author mr-1">{{ article.author }}</span>
                                {%- endif -%}
                                    {%- if show_date -%}
                                        <span class="circle-divider">{{ article.published_at | date: "%b %d, %y" }}</span>
                                    {%- endif -%}

                                    {%- if article.comments_count > 0 and show_comments -%}
                                        <span class="article-comment-count">{%- render 'icon-list', icon: "comments" -%}{{ article.comments_count }}</span>
                                    {%- endif -%}
                            </div>
                            {%- if show_excerpt -%}
                              
                                {%- if article.excerpt.size > 0 and desc_none != true or article.content.size > 0 and desc_none != true -%}
                                   <p class="article-card__excerpt rte-width">
                                        {%- if article.excerpt.size > 0 -%}
                                            {{ article.excerpt | strip_html | truncatewords: 30 }}
                                        {%- else -%}
                                            {{ article.content | strip_html | truncatewords: 30 }}
                                        {%- endif -%}
                                    </p>
                                {%- endif -%}
                                <div class="article-card__footer">
                                    {%- if show_btn -%}
                                        <a class="{{ btn_style }} article-card-btn" href="{{ article.url }}">
                                            {%- if btn_style == 'link animate-arrow' -%}
                                                {{ 'blogs.article.discover_now' | t }}
                                                <span class="icon-wrap">&nbsp;
                                                <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"/>
                                               </svg> 
                                        </span>
                                            {% else %}
                                                {{ 'blogs.article.read_more' | t }}
                                            {%- endif -%}
                                        </a>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                    </div>
                    {%- if show_badge -%}
                        <div class="card__badge {{ settings.badge_position }}">
                            <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
                        </div>
                    {%- endif -%}
                </div>
            </div>
            <div class="card__content">
                <div class="card__information">
                    {%- if article.tags != blank and section.settings.blog_show_tags -%}
                        <div class="blog-article-tag-listWrapper">
                            {%- for tag in article.tags limit: 3 -%}

                                <a class="blog-article-tag-list" href="{{ blog.url }}/tagged/{{ tag | handle }}">
                                    {% if forloop.first == false %}<span class="divider">&#124;</span>{% endif %}
                                    {{ tag }}
                                </a>
                            {%- endfor -%}
                        </div>

                    {%- endif -%}
                    <h4 class="card__heading{% if show_excerpt %} h4{% endif %}">
                        <a href="{{ article.url }}" class="full-unstyled-link">
                            {{ article.title | truncate: 50 | escape }}
                        </a>
                        </h3>
                        <div class="article-card__info">

                            {%- if show_author -%}
                            <span class="d-inline-flex align-items-center article-card-wrap">
                              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 6.375C4.415 6.375 3.125 5.085 3.125 3.5C3.125 1.915 4.415 0.625 6 0.625C7.585 0.625 8.875 1.915 8.875 3.5C8.875 5.085 7.585 6.375 6 6.375ZM6 1.375C4.83 1.375 3.875 2.33 3.875 3.5C3.875 4.67 4.83 5.625 6 5.625C7.17 5.625 8.125 4.67 8.125 3.5C8.125 2.33 7.17 1.375 6 1.375Z" fill="#222222"/>
                                        <path d="M10.2951 11.375C10.0901 11.375 9.92007 11.205 9.92007 11C9.92007 9.275 8.16008 7.875 6.00008 7.875C3.84008 7.875 2.08008 9.275 2.08008 11C2.08008 11.205 1.91008 11.375 1.70508 11.375C1.50008 11.375 1.33008 11.205 1.33008 11C1.33008 8.865 3.42508 7.125 6.00008 7.125C8.57508 7.125 10.6701 8.865 10.6701 11C10.6701 11.205 10.5001 11.375 10.2951 11.375Z" fill="#222222"/>
                                        </svg>
                                        <span class="d-inline-block mx-1">by</span><span class="article-card__info--author mr-1">{{ article.author }}</span>
                            {%- endif -%}
                                {%- if show_date -%}
                                    <span class="circle-divider">{{ article.published_at | date: "%b %d, %y" }}</span>
                                {%- endif -%}

                                {%- if article.comments_count > 0 and show_comments -%}
                                    <span class="article-comment-count">{%- render 'icon-list', icon: "comments" -%}{{ article.comments_count }}</span>
                                {%- endif -%}
                        </div>
                        {%- if show_excerpt -%}
                                  
                            {%- if article.excerpt.size > 0 and desc_none != true or article.content.size > 0 and desc_none != true -%}
                              <p class="article-card__excerpt rte-width">
                                    {%- if article.excerpt.size > 0 -%}
                                        {{ article.excerpt | strip_html | truncatewords: wordCount }}
                                    {%- else -%}
                                        {{ article.content | strip_html | truncatewords: wordCount }}
                                    {%- endif -%}
                                </p>
                            {%- endif -%}
                            <div class="article-card__footer">
                                {%- if show_btn -%}
                                    <a class="{{ btn_style }} article-card-btn" href="{{ article.url }}">
                                        {%- if btn_style == 'link animate-arrow' -%}
                                            {{ 'blogs.article.discover_now' | t }}
                                            <span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"/>
                                         </svg>
                                        </span>
                                        {% else %}
                                            {{ 'blogs.article.read_more' | t }}
                                        {%- endif -%}
                                    </a>
                                {%- endif -%}

                            </div>
                        {%- endif -%}
                </div>
                {%- if show_badge -%}
                    <div class="card__badge {{ settings.badge_position }}">
                        <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}
