
  {%- if section.blocks.size > 0 -%}
    <div class="footer__content-top page-width">
     {% render 'footer-blocks', section: section, block: block %} 
    </div>
  {%- endif -%} 

  <div class="footer__content-bottom">
 {%- if section.settings.payment_enable or section.settings.enable_country_selector or section.settings.enable_language_selector -%}
   <div class="footer__content-bottom-wrapper page-width justify-content-lg-between justify-content-center">
       
      <div class="footer__column footer__localization isolate">
           {%- if section.settings.show_social -%}
              {%- assign class_list_social = 'footer__list-social' -%}
              {%- render 'social-icons', social_style: section.settings.social_style, class_list_social: class_list_social -%}
        {%- endif -%} 
      </div> 
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
            {% render 'footer-localization', section: section %}
        {%- endif -%}
      </div> 
   </div> 
  {%- endif -%} 

    <div class="footer__content-bottom-wrapper page-width justify-content-lg-between justify-content-center">
       
      <div class="footer__column footer__column--copyright footer__column--column">
          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}
         <div class="footer__link list">
          {%- if section.settings.menu != blank -%}
            <ul class="footer-block__details-content list-unstyled">
              {%- for link in section.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%} 
            </ul>
          {%- endif -%}
        </div>
          <div class="footer__copyright caption">
            <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
            <small class="copyright__content">{{ powered_by_link }}</small>
            {%- if section.settings.show_policy -%}
              <ul class="policies list-unstyled">
                {%- for policy in shop.policies -%}
                  {%- if policy != blank -%}
                    <li><small class="copyright__content"><a href="{{ policy.url }}">{{ policy.title }}</a></small></li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
      </div>
      <div class="footer__column isolate">
          <div class="footer__column footer__column--info">
            {%- if section.settings.payment_enable -%}
              <div class="footer__payment">
                <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                <ul class="list list-payment" role="list">
                  {%- for type in shop.enabled_payment_types -%}
                    <li class="list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%} 
      </div>
      </div> 
    </div>
   
  </div>
 